* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, black , gray);
    width: 100vw;
    height: 100vh;
}


#menu > ul {
    background-color: wheat;
    display: flex;
    justify-content: center;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}


li {
    position: relative;
    display: block;
    font-size: 30px;
    padding: 15px;
    background-color: burlywood;
    border-style: solid;
    border-width: 1px;
}

li:hover {
    background: beige;
}

li:hover > ul{
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

.searchBar {
    padding: 8px;
    border: none;
}

.searchButton {
    font-size: 20px;
    border: none;
    background-color: rgb(200, 158, 127);
    border-radius: 12px;
    padding: 5px;
    font-family: "Times New Roman", serif;
}

.gallery {
    margin: auto;
    width: 80vw;
}

.content_body {
    background: linear-gradient( 45deg, cyan, transparent);
    margin: auto;
    width: 80vw;
    height: 92vh;
}

div.gallery>h1 {
    position: absolute;
    display:none;
    left:45vw;
    color: white;
    z-index: 1;
}

.gallery:hover img{
    background-color: black;
    opacity: 0.45;
}

.gallery:hover h1{
    opacity: 1;
    display: inline-block;

}

.imgShow {
    width: 32%;
}

#menu_icon {
    display: none;
}

.menu_dropdown_side{
    top: 0;
    left: -150px;
}

.register_form {
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 7px;
}

.center_text {
    width: 150px;
    position: relative;
}

.login_form {
    width: 100px;
}

.button {
    text-align: center;
    background-color: rgb(65, 164, 229);
    padding: 12px 28px;
    border-radius: 12px;
    border: none;
}

.button:hover {
    background-color: rgb(173, 209, 222);
}

.text_review {
    display: inline;
    background-color: rgb(123, 123, 123);
    padding: 40px;
}

.review {
    display: flex;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 50px;
}

.img_review {
    float: left;
    clear: both;
    padding: 40px;
    background: rgb(123, 123, 123);
}

@media only screen and (max-width: 1200px) {

    .img3 {
       display: none;
    }

    .imgShow {
        width: 49%;
    }

    #menu_icon {
        display: block;
    }

    .menu_hidden {
        display: none;
    }

    li:active > ul{
        display: flex;
        flex-direction: column;
    }

    .review {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 50px;
    }

    .img_review {
        width: 80%;
    }

    .text_review {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .img2 {
        display: none;
    }

    .imgShow {
        width: 100%;
    }

    #menu_icon {
        display: block;
    }

    .menu_hidden {
        display: none;
    }

    li:active > ul{
        display: flex;
        flex-direction: column;
    }
}